# Gradle & Android
.gradle/
build/
app/build/
*.apk
*.aab
output-metadata.json
local.properties

# Signing secrets
key.properties
*.jks
*.keystore

# Gomobile binaries
*.aar
*-sources.jar
core/core.aar
core/core-sources.jar
app/libs/core.aar

# IDE & Editor
.idea/
*.iml
.vscode/
.DS_Store

# Go
core/vendor/
